@charset "utf-8";
/* Main Styles */

/* !-- reset -- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, button,
table, caption, tbody, tfoot, thead, tr, th, td, col {
	background: transparent no-repeat 0 0;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: none;
	padding: 0;
	vertical-align: baseline;
	}
ol, ul { list-style: none; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table {	border-collapse: collapse; border-spacing: 0; width: 100%; }
input, textarea { margin: 0; padding: 0; }
em { font-style: italic; }
object { display: block; }


/* !-- basic -- */

body {
	background: #212121 url(/images/bodyBG.jpg) center top no-repeat;
	color: #404040;
	font-family: Verdana, Helvetica, "sans-serif";
	font-size: 11px;
	line-height: 10px;
}

#headerWrapper, #bodyWrapper, #mainWrapper, #footerWrapper {
	width: 100%;
}

	#headerWrapper {
		background: url(/images/headerBG.png) bottom center repeat-x;
		padding-top: 1.1em;
	}
	
	#bodyWrapper {
		background: #ebebeb url(/images/mainBG.gif) top center repeat-x;
		border-top: #fff solid 2px;
	}
	
	#home #mainWrapper {
		background: url(/images/homeBG.gif) top center no-repeat;
		height: 660px;
	}

#headerContent, #mainContent, #footerContent {
	width: 1045px;
	margin: 0 auto;
}

	#headerContent {
		height: 128px;
		position: relative;
	}
	
	#mainContent {
		padding: 2em 0;
	}

.button {
	color: #333;
	background: url(/images/button.gif) ;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border: 1px solid #ccc;
	padding: 4px 8px;
	text-decoration: none;
	cursor: pointer;
}

.button:hover {
	border: 1px solid #5d5d5d;
}

.button:active {
	background: url(/images/button_active.gif) ;
}


/* !-- links -- */
a {color: #bbbbbb; text-decoration: none; outline: none;}
a:visited {color: #bbbbbb;}
a:hover,a:focus {color: #b31c27; text-decoration: none;}
a:active {}

h1 {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-top: 1.3em;
}

#logo {
	background-image:url(/images/logo.png);
	height: 128px;
	width: 228px;
}

	#logo:hover {
		background-position: 0 -128px;
	}
	
#headerContent .nav li a {
	background-image: url(/images/mainNav.png);
	height: 62px;
	margin-left: 1.2em;
}

	.navWork a {
		background-position: 0 0;
		width: 228px;
	}

		.navWork a:hover {
			background-position: 0 -62px;
		}

		#work .navWork a {
			background-position: 0 -122px;
		}

	.navAbout a {
		background-position: -240px 0;
		width: 195px;
	}

		.navAbout a:hover {
			background-position: -240px -62px;
		}

		#about .navAbout a {
			background-position: -240px -122px;
		}

	.navContact a {
		background-position: -446px 0;
		width: 143px;
	}

		.navContact a:hover {
			background-position: -446px -62px;
		}

		#contact .navContact a {
			background-position: -446px -122px;
		}
	
.resume a {
	background-image: url(/images/resume.gif);
	height: 76px;
	width: 314px;
}

	.resume a:hover, .resume a:focus {
		background-position: 0 -76px;
	}

#social .nav li a {
	background-image: url(/images/socialNav.png);
	height: 46px;
	margin-left: 2em;
	width: 50px;
}

	#social .nav li.navBehance a {
		background-position: 0 0;
		margin-left: 0;
	}

		#social .nav li.navBehance a:hover, #social .nav li.navBehance a:focus {
			background-position: 0 -46px;
		}

	#social .nav li.navTwitter a {
		background-position: -64px 0;
	}

		#social .nav li.navTwitter a:hover, #social .nav li.navTwitter a:focus {
			background-position: -64px -46px;
		}

	#social .nav li.navLinkedIn a {
		background-position: -129px 0;
	}

		#social .nav li.navLinkedIn a:hover, #social .nav li.navLinkedIn a:focus {
			background-position: -129px -46px;
		}

	#social .nav li.navFacebook a {
		background-position: -195px 0;
	}

		#social .nav li.navFacebook a:hover, #social .nav li.navFacebook a:focus {
			background-position: -195px -46px;
		}

#footerContent a {
	color: #a1b3c0 ;
}

#footerContent a:hover,#footerContent a:focus {
	color: #b31c27;
}



/* !-- content styles -- */

#contactInfo span {
	color: #fff;
	display: block;
	text-align: right;
	margin: 0 2em 1em 0;
}

#headerContent .nav {
	bottom: 0;
	height: 62px;
	right: 0;
	width: 606px;
	position: absolute;
}
	
	#headerContent .nav li {
		list-style-image:none;
		list-style-position:outside;
		list-style-type:none;
	}
	
.headline {
	background: url(/images/quoteR.gif) bottom right no-repeat;
	padding-left: 2.2em;
	margin-bottom: 3em;
}

	#home .headline {
		background-position: 800px 65px;
	}
	
	#work .headline {
		background-position: 970px 78px;
	}
	
	#about .headline {
		background-position: 590px 66px;
	}
	
	#contact .headline {
		background-position: 590px 66px;
	}

.headline h2 {
	background-image:url(/images/headline.gif);
}

#home .headline h2 {
	height: 54px;
	width: 337px;
}

#work .headline h2 {
	background-position: 0 -54px;
	height: 66px;
	width: 337px;
}

#about .headline h2 {
	background-position: 0 -120px;
	height: 54px;
	width: 351px;
}

#contact .headline h2 {
	background-position: 0 -174px;
	height: 55px;
	width: 425px;
}
	
.headline p {
	background: url(/images/quoteL.gif) no-repeat;
	color: #770015;
	font-size: 18px;
	line-height: 1em;
	margin-top: .6em;
	padding: .8em 4.8em 0 .8em;
}

	#home .headline p {
		width: 730px;
		height: 42px;
	}

	#work .headline p {
		width: 884px;
		height: 80px;
	}

	#about .headline p {
		width: 503px;
		height: 43px;
	}

	#contact .headline p {
		width: 503px;
		height: 43px;
	}
	
.col1 {
	width: 645px;
}

.about {
	margin-left: 2.2em;
}

	.about img {
		border: #bfbfbf solid 1px;
		margin-right: 1.8em;
		height: 170px;
		width: auto;
	}
	
	.about p {
		color: #373737;
		font-size: 13px;
		line-height: 20px;
		margin-bottom: 1em;
	}
	
.resume {
	background: #fff;
	border: #d5d5d5 solid 1px;
	margin: 2.2em 0 0 2.2em;
	padding: 5px;
}

.col2 {
	background: #fff;
	border: #d5d5d5 solid 1px;
	color: #6c0011;
	margin: 0 2em 2em 0;
	padding: 6px;
	width: 314px;
}

	.col2 a {
		border-bottom: #a5a5a5 dotted 1px;
		color: #575757;
		line-height: 20px;
	}

		.col2 a:hover, .col2 a:focus {
			border-bottom: #8a4856 dotted 1px;
			color: #6c0011;
		}

	.col2 h3 {
		background-image: url(/images/favThings.gif);
		border-bottom: #fff solid 5px;
		height: 76px;
		width: 314px;
	}
	
	.interests1, .interests2, .clients, .friends1, .friends2 {
		padding: 1em;
		width: 42%;
	}
	
	.clients, .col2 h4 {
		width: 93%;
	}
	
	.col2 h4 {
		border-bottom: #8a4856 solid 1px;
		font-size: 20px;
		margin: 1em 0 0 .5em;
		padding-bottom: .4em;
	}

.widget {
	background: url(/images/grayStripe.gif) repeat;
}

#footerWrapper {
	background: url(/images/footBG.gif) top left repeat-x;
	padding-top: 2em;
}

#footerContent {
	width: 1000px;
}

#footerContent .footMeta, #twitter, #social {
	height: 10.6em;
	margin-right: 1.4em;
}

#footerContent .footMeta, #twitter {
	background: url(/images/footBorder.gif) top right no-repeat;
	padding-right: 1.4em;
}

#footerContent .footMeta {
	width: 305px;
}

.foot.nav {
	margin-bottom: 1.2em;
}

.foot.nav li {
	border-right: #303030 dotted 1px;
	padding: 1em;
}

	.foot.nav li.navHome {
		padding-left: 0;
	}

	.foot.nav li.navContact {
		border: none;
	}
	
	.foot.nav li a {
		font-size: 16px;
		font-weight: bold;
	}
	
.copyright {
	display: block;
}

#twitter {
	padding-right: 1.8em;
	width: 363px;
}

#twitter h5 {
	background: url(/images/saying.gif) no-repeat;
	border-bottom: #3c3c3c double 4px;
	height: 19px;
	margin-bottom: .8em;
	padding-bottom: .2em;
	width: 355px;
}

.tweet {
	color: #c0c0c0;
	font-size: 13px;
	line-height: normal;
}

.tweet a {
	font-weight: bold;
}

.tweet_avatar {
	padding-right: 1em;
}

.tweet_text {
	display: block;
	margin-bottom: .8em;
}

.tweet_text a, .tweet_date {
	font-size: 11px;
}

#social {
	margin-right: 0;
	width: 266px;
}

	#social .nav {
		height: 46px;
		width: 266px;
	}
	
		#social .nav li {
			list-style-position:outside;
		}
		
	#social .socialType {
		font-size: 24px;
		font-weight: bold;
		margin: 1em .5em 0 0;
		width: 252px;
	}


/* !-- featured work (no js) -- */

#featuredWork {
	background: url(/images/featShadow.png) center top no-repeat;
	padding: .8em 2em;
	width: 999px;
}

#featuredWork li.project {
	background: #ebebeb;
	border: 5px #fff solid;
	margin-bottom: 2em;
	position: relative;
	width: 987px;
}

#featuredWork h3 {
	background-image: url(/images/featProjNav.png);
	background-repeat: no-repeat;
	height: 77px;
	left: 0;
	position: absolute;
	top: 0;
	width: 281px;
}

	#featuredWork .featBlend h3 {
		background-position: -562px 0;
	}

	#featuredWork .featEncompass h3 {
		background-position: -562px -84px;
	}

	#featuredWork .featJohnny h3 {
		background-position: -562px -167px;
	}

	#featuredWork .featHawaiian h3 {
		background-position: -562px -250px;
	}

#featuredWork address {
	border-top: 5px #fff solid;
	border-right: 5px #fff solid;
	color: #b0b0b0;
	display: block;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	height: 58px;
	left: 0;
	line-height: 16px;
	padding: 20px 0 0 12px;
	position: absolute;
	top: 77px;
	width: 230px;
}

	#featuredWork address a {
		display: block;
		font-size: 14px;
		font-weight: normal;
		margin-top: 8px;
		text-transform: uppercase;
	}

#featuredWork p {
	border-top: 5px #fff solid;
	border-right: 5px #fff solid;
	display: block;
	height: 161px;
	left: 0;
	line-height: 18px;
	padding: 4px 2px 0 12px;
	position: absolute;
	top: 160px;
	width: 228px;
}

	#featuredWork strong {
		color: #b0b0b0; 
		display: block;
		font-size: 30px;
		font-weight: bold;
		line-height: normal;
	}

#featuredWork li .gallery {
	background: url(/images/grayStripe.gif) repeat;
	border-left: #d0d0d0 solid 1px;
	height: 303px;
	padding: 1.1em;
	width:715px;
	overflow: hidden;
}

#featuredWork li .gallery ul {
	width: 2895px;
}

#featuredWork li .gallery ul li {
	border: #fff solid 1px;
	height: 301px;
	margin-bottom: 1.2em;
	margin-right: 1.2em;
	width:715px;
	overflow: hidden;
}



/* !-- featured work (w/ js) -- */

#featuredWork.enabled {
	position: relative;
	height: 354px;
}

#featuredWork.enabled li.project {
	background: #ebebeb;
	left: 2em;
	position: absolute;
	top: .8em;
}

#featuredWork.enabled h3 {
	border-bottom: #fff solid 5px;
	cursor: pointer;
	width: 246px;
	z-index: 1;
}

#featuredWork.enabled .hover h3 {
	background-color: #f1f1f1;
	cursor: pointer;
	width: 241px;
}

#featuredWork.enabled .active h3 {
	background-color: transparent;
	border-right: none;
	border-bottom: none;
	height: 83px;
	width: 281px;
}

#featuredWork.enabled h3.arrow {
	background-position: -1124px 0;
	border: none;
	height: 83px;
	margin: 1.1em 0 0 2.5em;
	width: 281px;
	z-index: 2;
}

#featuredWork.enabled h3.activeTxt {
	border: none;
	display: none;
	z-index: 3;
}

	#featuredWork.enabled .featBlend h3 {
		background-position: 0 0;
		top: 0px;
	}
	
		#featuredWork.enabled .featBlend.hover h3 {
			background-position: -281px 0;
		}
		
		#featuredWork.enabled .featBlend.active h3 {
			background-position: -562px 0;
		}
		
		#featuredWork.enabled .featBlend h3.activeTxt {
			background-position: -843px 0;
		}

	#featuredWork.enabled .featEncompass h3 {
		background-position: 0 -84px;
		top: 82px;
	}
	
		#featuredWork.enabled .featEncompass.hover h3 {
			background-position: -281px -84px;
		}
		
		#featuredWork.enabled .featEncompass.active h3 {
			background-position: -562px -84px;
		}
		
		#featuredWork.enabled .featEncompass h3.activeTxt {
			background-position: -843px -84px;
		}

	#featuredWork.enabled .featJohnny h3 {
		background-position: 0 -167px;
		top: 164px;
	}
	
		#featuredWork.enabled .featJohnny.hover h3 {
			background-position: -281px -167px;
		}
		
		#featuredWork.enabled .featJohnny.active h3 {
			background-position: -562px -167px;
		}
		
		#featuredWork.enabled .featJohnny h3.activeTxt {
			background-position: -843px -167px;
		}

	#featuredWork.enabled .featHawaiian h3 {
		background-position: 0 -250px;
		border-bottom: none;
		top: 246px;
	}
	
		#featuredWork.enabled .featHawaiian.hover h3 {
			background-position: -281px -250px;
		}
		
		#featuredWork.enabled .featHawaiian.active h3 {
			background-position: -562px -250px;
		}
		
		#featuredWork.enabled .featHawaiian h3.activeTxt {
			background-position: -843px -250px;
		}

#featuredWork.enabled address, #featuredWork.enabled p {
	display: none;
}

#featuredWork.enabled li .gallery {
	border-left: #fff solid 5px;
	height: 298px;
	width: 717px;
}

#featuredWork.enabled li .gallery ul li {
	height: 295px;
}


/* !-- work nav -- */

.nav.work li.project {
	background: #fff;
	border: #bfbfbf solid 1px;
	height: 78px;
	margin: .4545em 2em;
	padding: .454545em;
	position: relative;
	width: 987px;
}

	.nav.work li.project a.title {
		background-image: url(/images/workArrow.png);
		display: block;
		height: 56px;
		left: 5px;
		padding: 1em;
		position: absolute;
		top: 5px;
		width: 259px;
		z-index: 2;
	}
	
		.nav.work li.project a.title span {	
			background-image: url(/images/workNav.png);	
			height: 53px;
			width: 180px;
		}
	
			a.title:hover span, a.title:focus span {
				background-position: 0 -53px;
			}

	.nav.work li.project .thumb {
		border: #d0d0d0 solid 1px;
		position: absolute;
		right: 5px;
		top: 6px;
	}
	
.nav.work li.project.open {
	height: auto;
}

	.open a.title {
		background-position: 0 -78px;
	}

	.open a.title span, .open a.title span:hover, .open a.title span:focus {
		background-position: 0 -106px;
	}

	.open .meta {
		background-image: url(/images/workArrow.png);
		background-position: 0 -158px;
		border-right: #b0b0b0 solid 1px;
		border-top: #d0d0d0 solid 1px;
		height: 75px;
		left: 5px;
		position: absolute;
		top: 6px;
		padding-left: 285px;
		width: 700px;
		z-index: 1;
	}
	
		.open .meta p {
			color: #616060;
			font-size: 14px;
			width: 545px;
		}
		
			.open .meta p strong {
				color: #767676;
				font-size: 22px;
				vertical-align: baseline;
			}
		
			.open .meta p.role {
				border-bottom: #ababab solid 1px;
				padding: 13px 0 10px;
			}
			
			.open .meta p.date {
				padding: 11px 0 0;
			}
		
		.open .meta .view {
			background: url(/images/viewBtn.png);
			height: 66px;
			margin: .454545em;
			width: 139px;
		}
		
			.open .meta .view:hover, .open .meta .view:focus {
				background-position: 0 -66px;
			}
			
	.full {
		display: none;
	}
			
	.open .full {
		background: url(/images/grayStripe.gif) repeat;
		margin-top: 82px;
		padding: 10px;
	}
			
	.open .gallery {
		height: 301px;
		overflow: hidden;
		margin-bottom: 10px;
		position: relative;
		width: 967px;
	}
	
		.open .gallery ul {
			width: 2901px;
			height: 301px;
		}
	
		.open .gallery li {
			border: #fff solid 1px;
			height: 299px;
			width: 965px;
		}
		
	.open .overlay {
		display: none;
		position: absolute;
		height: 301px;
		padding-top: 10em;
		width: 967px;
	}
	
		.open .overlay a {
			background: url(/images/overlayArrows.png);
			height: 90px;
			width: 113px;
		}
		
			.open .overlay a.next {
				background-position: 0 -90px;
			}
		
				.open .overlay a.previous:hover, .open .overlay a.previous:focus {
					background-position: -113px 0;
				}
			
				.open .overlay a.next:hover, .open .overlay a.next:focus {
					background-position: -113px -90px;
				}
				
	.open .info {
		background: url(/images/grayStripe_dark.gif) repeat;
		border: #f6f6f6 solid 1px;
		color: #333;
		padding: 1em 2em;
	}
	
		.open .info h3 {
			border-bottom: #8c5d5d solid 1px;
			color: #6c0011;
			font-size: 22px;
			line-height: normal;
			margin-bottom: .5em;
		}
	
		.open .info .overview {
			background: url(/images/overviewBorder.gif) top right no-repeat;
			padding-right: 25px;
			font-size: 12px;
			line-height: 16px;
			width: 655px;
		}
		
			.open .info .overview p {
				margin-bottom: .6667em;
			}
		
		.open .info .tech {
			width: 228px;
		}
		
			.open .info .tech ul {
				list-style: circle inside;
				margin-top: 13px;
			}
			
				.open .info .tech ul li {
					margin-bottom: 1em;
				}


/* !-- img replace -- */

#logo, #headerContent .nav li a, .headline h2, .resume a, .col2 h3, #featuredWork h3, .open .meta .view, .open .overlay a, #twitter h5, #social .nav li a, .nav.work li.project a.title span {
	display: block;
	overflow:hidden;
	text-indent:-9999px;
}
		

/* !-- floats -- */

h1, #headerContent .nav li a, .col1, .about img, .resume, .interests1, .interests2, .col2 h4, .clients, .friends1, .friends2, #featuredWork h3, #featuredWork address, #featuredWork p, #featuredWork li .gallery ul li, .open .gallery li, .open .overlay a.previous, .open .info .overview, #footerContent .footMeta, .open .meta p, .foot.nav li, #twitter, .tweet_avatar, .tweet_date, #social .nav li a {
	float: left;
}

#contactInfo, #headerContent .nav, .col2, #featuredWork li .gallery, .open .meta .view, .open .overlay a.next, .open .info .tech, #social, #social .nav, #social .socialType {
	float: right;
}

/* !-- clearing all floats -- */

#headerContent:after, #mainContent:after, .widget:after, #featuredWork li.project:after, .open .meta:after, .open .gallery:after, .open .overlay:after, .open .info:after, #footerContent:after, .foot.nav:after, #social:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}