@charset "utf-8";
/* Main Styles */

/* -- reset -- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, button,
table, caption, tbody, tfoot, thead, tr, th, td, col {
	background: transparent no-repeat 0 0;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: none;
	padding: 0;
	vertical-align: baseline;
	}
ol, ul { list-style: none; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table {	border-collapse: collapse; border-spacing: 0; width: 100%; }
input, textarea { margin: 0; padding: 0; }
em { font-style: italic; }
object { display: block; }


/* -- basic -- */

body {
	background: #212121 url(/images/bodyBG.jpg) center top no-repeat;
	color: #404040;
	font-family: Verdana, Helvetica, "sans-serif";
	font-size: 11px;
	line-height: 10px;
}

#headerWrapper, #bodyWrapper, #mainWrapper, #footerWrapper {
	width: 100%;
}

	#headerWrapper {
		background: url(/images/headerBG.png) bottom center repeat-x;
		padding-top: 1.1em;
	}
	
	#bodyWrapper {
		background: #ebebeb url(/images/mainBG.gif) top center repeat-x;
		border-top: #fff solid 2px;
	}
	
	#mainWrapper {
		background: url(/images/homeBG.gif) top center no-repeat;
	}

#headerContent, #mainContent, #footerContent {
	width: 1045px;
	margin: 0 auto;
}

	#headerContent {
		height: 128px;
		position: relative;
	}
	
	#mainContent {
		padding: 2em 0;
	}

.button {
	color: #333;
	background: url(/images/button.gif) ;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border: 1px solid #ccc;
	padding: 4px 8px;
	text-decoration: none;
	cursor: pointer;
}

.button:hover {
	border: 1px solid #5d5d5d;
}

.button:active {
	background: url(/images/button_active.gif) ;
}


/* -- links -- */
h1 {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-top: 1.3em;
}

#logo {
	background-image:url(/images/logo.png);
	height: 128px;
	width: 228px;
}

	#logo:hover {
		background-position: 0 -128px;
	}
	
#headerContent .nav li a {
	background-image: url(/images/mainNav.png);
	height: 62px;
	margin-left: 1.2em;
}

	.navWork a {
		background-position: 0 0;
		width: 228px;
	}

		.navWork a:hover {
			background-position: 0 -62px;
		}

	.navAbout a {
		background-position: -240px 0;
		width: 195px;
	}

		.navAbout a:hover {
			background-position: -240px -62px;
		}

	.navContact a {
		background-position: -446px 0;
		width: 143px;
	}

		.navContact a:hover {
			background-position: -446px -62px;
		}


/* -- content styles -- */

#contactInfo span {
	color: #fff;
	display: block;
	text-align: right;
	margin-bottom: 1em;
}

h2.welcome {
	background-image:url(/images/welcome.gif);
	height: 54px;
	width: 337px;
}

#headerContent .nav {
	bottom: 0;
	height: 62px;
	right: 0;
	width: 606px;
	position: absolute;
}
	
	#headerContent .nav li {
		list-style-image:none;
		list-style-position:outside;
		list-style-type:none;
	}
	
.headline {
	padding-left: 2.2em;
	margin-bottom: 3em;
}
	
.headline p {
	background: url(/images/quotes.gif) no-repeat;
	color: #770015;
	font-size: 18px;
	line-height: 1em;
	margin-top: .6em;
	padding: .8em 4.8em 0 .8em;
	width: 730px;
	height: 42px;
}


/* -- featured work (no js) -- */

#featuredWork {
	background: url(/images/featShadow.png) center top no-repeat;
	padding: .8em 2em;
	width: 999px;
}

#featuredWork li.project {
	background: #ebebeb;
	border: 6px #fff solid;
	margin-bottom: 2em;
	position: relative;
	width: 987px;
}

#featuredWork h3 {
	background-image: url(/images/featProjNav.png);
	background-repeat: no-repeat;
	height: 78px;
	left: 0;
	position: absolute;
	top: 0;
	width: 281px;
}

	#featuredWork .featBlend h3 {
		background-position: -562px 0;
	}

	#featuredWork .featEncompass h3 {
		background-position: -562px -84px;
	}

	#featuredWork .featJohnny h3 {
		background-position: -562px -167px;
	}

	#featuredWork .featHawaiian h3 {
		background-position: -562px -250px;
	}

#featuredWork address {
	border-top: 6px #fff solid;
	border-right: 6px #fff solid;
	color: #b0b0b0;
	display: block;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	height: 58px;
	left: 0;
	line-height: 16px;
	padding: 20px 0 0 12px;
	position: absolute;
	top: 78px;
	width: 228px;
}

	#featuredWork address a {
		display: block;
		font-size: 14px;
		font-weight: normal;
		margin-top: 8px;
		text-transform: uppercase;
	}

#featuredWork p {
	border-top: 6px #fff solid;
	border-right: 6px #fff solid;
	display: block;
	height: 158px;
	left: 0;
	line-height: 18px;
	padding: 4px 2px 0 12px;
	position: absolute;
	top: 162px;
	width: 226px;
}

	#featuredWork strong {
		color: #b0b0b0; 
		display: block;
		font-size: 30px;
		font-weight: bold;
		line-height: normal;
	}

#featuredWork li ul {
	background: url(/images/grayStripe.gif) repeat;
	border-left: #d0d0d0 solid 1px;
	height: 303px;
	padding: 1.2em;
	width:713px;
	overflow: hidden;
}

#featuredWork li ul li {
	border: #fff solid 1px;
	height: 301px;
	margin-bottom: 1.2em;
	width:715px;
	overflow: hidden;
}



/*-- featured work (w/ js) -- */

#featuredWork {
	position: relative;
	height: 354px;
}

#featuredWork li.project {
	background: none;
	left: 2em;
	position: absolute;
	top: .8em;
}

#featuredWork h3 {
	background-color: #ebebeb;
	border-bottom: #fff solid 6px;
	border-right: #fff solid 6px;
	width: 240px;
}

#featuredWork .hover h3 {
	background-color: #f1f1f1;
}

#featuredWork .active h3 {
	background-color: transparent;
	border-right: none;
	border-bottom: none;
	height: 84px;
	width: 281px;
	z-index: 1;
}

	#featuredWork .featBlend h3 {
		background-position: 0 0;
		top: 0px;
	}
	
		#featuredWork .featBlend.hover h3 {
			background-position: -281px 0;
		}
		
		#featuredWork .featBlend.active h3 {
			background-position: -562px 0;
		}

	#featuredWork .featEncompass h3 {
		background-position: 0 -84px;
		top: 84px;
	}
	
		#featuredWork .featEncompass.hover h3 {
			background-position: -281px -84px;
		}
		
		#featuredWork .featEncompass.active h3 {
			background-position: -562px -84px;
		}

	#featuredWork .featJohnny h3 {
		background-position: 0 -167px;
		top: 168px;
	}
	
		#featuredWork .featJohnny.hover h3 {
			background-position: -281px -167px;
		}
		
		#featuredWork .featJohnny.active h3 {
			background-position: -562px -167px;
		}

	#featuredWork .featHawaiian h3 {
		background-position: 0 -250px;
		border-bottom: none;
		top: 252px;
	}
	
		#featuredWork .featHawaiian.hover h3 {
			background-position: -281px -250px;
		}
		
		#featuredWork .featHawaiian.active h3 {
			background-position: -562px -250px;
		}

#featuredWork address, #featuredWork p {
	display: none;
}


/*-- img replace -- */

#logo, #headerContent .nav li a, h2.welcome, #featuredWork h3 {
	display: block;
	overflow:hidden;
	text-indent:-9999px;
}
		

/* -- floats -- */

h1, #headerContent .nav li a, #featuredWork h3, #featuredWork address, #featuredWork p {
	float: left;
}

#contactInfo, #headerContent .nav, #featuredWork li ul {
	float: right;
}

/* -- clearing all floats --*/

#headerContent:after, #featuredWork li.project:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}